.home-hero {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(boxes.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(home-bg.jpg);
  background-size: cover;
  background-position: 25% 50%;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.typewriter {
  position: absolute;
  margin-left: 8px;
}

.hero-header h2 {
  color: white;
  width: 100%;
  padding: 0 50px;
  position: relative;
}

.home-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.home-search-form {
  text-align: center;
}

.home-search-bar {
  width: 500px;
  height: 50px;
  border: none;
  outline-style: none;
  font-size: 1.20em;
  padding-left: 15px;
  border-radius: 5px;
}

.home-search-btn {
  background-color: #059862;
  color: white;
  font-size: 1.20em;
  font-weight: bold;
  height: 50px;
  width: 120px;
  border-radius: 5px;
  border: none;
}

.storages-header {
  text-align: center;
  margin: 30px;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items-container .row {
  // background-color: #a0a1a3;
  width: 100%;
}

.card-text {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
}

.card-img-top {
  border-radius: 15px;
  height: 220px;
  width: 220px;
  object-fit: cover;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 25%;
  min-width: 25%;
  margin: 0px 15px;
}

.card-row {
  margin: 10px;
}

.why-storage-container {
  background-color: #F2F4F6;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.why-storage {
  border: 5px solid white;
  padding: 25px;
}

.why-storage img {
  height: 100px;
}

.home-storages-near-container {
  background-color: #eb591f;
}

.home-near-you-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
}

.home-storages-near-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.home-storage-near-card {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.home-storage-near-img {
  width: 250px;
  height: 180px;
  // background-image: url("https://images.unsplash.com/photo-1426122402199-be02db90eb90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  // background-size: cover;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.home-storage-near-price {
  background-color: #5a5b5c;
  color: white;
  font-size: 1.25em;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 10px;
}

.home-storage-near-user {
  margin: 0
}

.home-storage-near-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 150px;
  border-radius: 0 0 25px 25px;
  background-color: #F2F4F6;
  text-align: left;
  padding-left: 15px;
}

.home-storage-near-title {
  margin: 0;
}

.home-storage-near-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.home-storage-near-type {
  margin: 0;
}

.home-see-more-container {
  text-align: center;
}

.home-see-more-btn {
  background-color: #059862;
  width: 400px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
}

.host-container {
  text-align: center;
}

.host-btn {
  background-color: #059862;
  width: 400px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
}

.become-host-container {
  text-align: center;
}

.become-host-header {
  font-size: 3rem;
}
