.home-hero {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(boxes.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(home-bg.jpg);
  background-size: cover;
  background-position: 25% 50%;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.hero-header > h2 {
  flex-wrap: wrap;
}

.typewriter {
  position: absolute;
  margin-left: 8px;
}

.hero-header h2 {
  color: white;
  width: 100%;
  padding: 0 50px;
  position: relative;
}

.home-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
}

.home-search-form {
  text-align: center;
}

.home-search-bar {
  width: 500px;
  height: 50px;
  border: none;
  outline-style: none;
  font-size: 1.20em;
  padding-left: 15px;
  border-radius: 5px;
}

@media (max-width: 768px) {
.home-search-bar {
  width: 300px;
  }
}

.home-search-btn {
  background-color: #059862;
  color: white;
  font-size: 1.20em;
  font-weight: bold;
  height: 50px;
  width: 120px;
  border-radius: 5px;
  border: none;
}


// ------------ STORAGES TYPES --------------
.storages-header {
  text-align: center;
}

.home-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .home-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card a {
  text-decoration: none;
  color: black;
}

.home-card a:hover {
  .home-card-img-top {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.home-card-img-top {
  border-radius: 15px;
  height: 220px;
  width: 220px;
  object-fit: cover;
}

.card-text {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
  text-decoration: none;
}

// ------------WHY RENT STORAGE---------------

.why-storage-container {
  background-color: #F2F4F6;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.why-storage {
  border: 5px solid white;
  padding: 25px;
}

.why-storage img {
  height: 100px;
}

// ------- DISCOVER STORAGES -----------

.discover-storages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.discover-storages-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
}

@media(max-width: 992px) {
  .discover-storages-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 50%;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .discover-storages-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 25%;
    margin: 10px auto;
  }
}

.discover-storages-card {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}

.discover-storages-img {
  width: 250px;
  height: 180px;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.discover-storages-price {
  background-color: #5a5b5c;
  color: white;
  font-size: 1.25em;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 10px;
}

.discover-storages-user {
  margin: 0
}

.discover-storages-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 150px;
  border-radius: 0 0 25px 25px;
  background-color: #F2F4F6;
  text-align: left;
  padding: 0 15px;
}

.discover-storages-title {
  margin: 0;
}

.discover-storages-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.discover-storages-type {
  margin: 0;
}

.home-see-more-container {
  text-align: center;
}

.home-see-more-btn {
  background-color: #059862;
  border: none;
  color: white;
  font-weight: bold;
}

.host-container {
  text-align: center;
}

.host-btn {
  background-color: #059862;
  width: 400px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
}

.become-host-container {
  text-align: center;
}

.become-host-header {
  font-size: 3rem;
}
