.user-dashboard {
  display: flex;
}

.user-information-container {
  display: flex;
  align-items: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-avatar {
  width: 250px;
  height: 250px;
}

.personal-information {
  padding-left: 50px;
  font-size: 1.5em;
}

.personal-info-header {
  display: flex;
  align-items: center;
}

.personal-info-header i {
  margin-left: 5px;
}
