.user-dashboard {
  display: flex;
}

// .user-left-container {
//   background-color: black;
//   color: white;
//   display: flex;
//   flex-direction: column;
//   justify-items: center;
//   width: 15%;
//   height: 80vh;
// }

// .user-left-container ul {
//   list-style-type: none;
//   margin-left: 0;
//   padding-left: 0;
// }

// .user-left-container li {
//   margin: 2px 8px;
// }

// .user-right-container {
//   background-color: yellow;
//   width: 85%;
//   height: 80vh;
//   padding: 80px;
// }

// .dashboard-list li:hover {
//   background-color: rgb(243, 63, 177);
//   cursor: pointer;
// }

.user-information-container {
  display: flex;
  align-items: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-avatar {
  width: 250px;
  height: 250px;
}

.personal-information {
  padding-left: 50px;
  font-size: 1.5em;
}

.personal-info-header {
  display: flex;
  align-items: center;
}

.personal-info-header i {
  margin-left: 5px;
}
