.user-right-container {
  width: 85%;
  padding: 80px;
  overflow: auto;
}

.my-reservations-card {
  display: flex;
  margin: 20px 5px;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.my-reservations-img {
  border-radius: 25px;
  height: 300px;
  max-width: 300px;
}

.my-reservations-items {
  margin-left: 10px;
  width: 100%;
}

.my-reservations-item {
  display: flex;
  width: 100%;
}

.item-input {
  background-color: white;
  border: 1px solid rgb(180, 178, 178);
  width: 100%;
  margin-left: 5px;
  padding: 0 10px;
  border-radius: 25px;
}

.my-reservations-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  width: 100%;
}

.my-reservations-controls {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1025px) {
  .my-reservations-card {
    display: flex;
    flex-direction: column;
    width: 340px;
  }

  .my-reservations-bottom {
    display: flex;
    flex-direction: column;
  }

  .my-reservations-img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .my-reservations-items {
    width: 300px;
  }

  .item-input {
    padding: 0 10px;
  }
}
