<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light rounded-circle btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light rounded-circle btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light rounded-circle btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light rounded-circle btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light rounded-circle btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i></a>

    </section>
    <!-- Section: Social media -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Storage Types</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/storages?query=car+parking&commit=Search" class="text-white">Car Parking</a>
            </li>
            <li>
              <a href="/storages?query=rv&commit=Search" class="text-white">RV</a>
            </li>
            <li>
              <a href="/storages?query=business+inventory&commit=Search" class="text-white">Business Inventory</a>
            </li>
            <li>
              <a href="/storages?query=furniture&commit=Search" class="text-white">Furniture</a>
            </li>
            <li>
              <a href="/storages?query=boats&commit=Search" class="text-white">Boats</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Main Cities</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/storages?query=london&commit=Search" class="text-white">London</a>
            </li>
            <li>
              <a href="/storages?query=paris&commit=Search" class="text-white">Paris</a>
            </li>
            <li>
              <a href="/storages?query=barcelona&commit=Search" class="text-white">Barcelona</a>
            </li>
            <li>
              <a href="/storages?query=amsterdam&commit=Search" class="text-white">Amsterdam</a>
            </li>
            <li>
              <a href="/storages?query=lisbon&commit=Search" class="text-white">Lisbon</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Countries</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/storages?query=united+kingdom&commit=Search" class="text-white">United Kingdom</a>
            </li>
            <li>
              <a href="/storages?query=france&commit=Search" class="text-white">France</a>
            </li>
            <li>
              <a href="/storages?query=spain&commit=Search" class="text-white">Spain</a>
            </li>
            <li>
              <a href="/storages?query=the+netherlands&commit=Search" class="text-white">The Netherlands</a>
            </li>
            <li>
              <a href="/storages?query=portugal&commit=Search" class="text-white">Portugal</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Storage Features</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/storages?query=smoke+detector&commit=Search" class="text-white">Smoke Detector</a>
            </li>
            <li>
              <a href="/storages?query=security+camera&commit=Search" class="text-white">Security Camera</a>
            </li>
            <li>
              <a href="/storages?query=pet+free&commit=Search" class="text-white">Pet Free</a>
            </li>
            <li>
              <a href="/storages?query=climate+controlled&commit=Search" class="text-white">Climate Controlled</a>
            </li>
            <li>
              <a href="/storages?query=locked+area&commit=Search" class="text-white">Locked area</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">STORAGES</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
