.navbar-container {
  color: white;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-btn {
  border: none;
  color: white;
  border-radius: 15px;
  width: 80px;
  text-align: center;
}

.nav-item {
  text-align: center;
}

.avatar-account {
  display: flex;
  align-items: center;
}

.avatar-nav {
  width: 25px;
  height: 25px;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white
}

.navbar-brand:hover {
  color: white;
}
