.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-btn {
  border: none;
  background-color: #059862;
  color: white;
  border-radius: 15px;
  width: 80px;
  text-align: center;
}

.nav-item {
  text-align: center;
}

.avatar-account {
  display: flex;
  align-items: center;
}

.avatar {
  width: 25px;
  height: 25px;
}
