.user-left-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 20%;
  padding-left: 10px;
  padding-top: 10px;
}

@media (max-width: 1025px) {
  .user-left-container {
    width: 25%;
  }
}

.user-left-container ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.user-left-container li {
  margin: 20px 4px;
}

.dashboard-list li:hover {
  background-color: rgb(243, 63, 177);
  cursor: pointer;
  color: white;
}

.dashboard-list a {
  text-decoration: none;
  color: white;
}

.dashboard-list a:hover {
  text-decoration: none;
  color: white;
}
