.user-left-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 15%;
  height: 100vh;
}

.user-left-container ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.user-left-container li {
  margin: 2px 8px;
}

.dashboard-list li:hover {
  background-color: rgb(243, 63, 177);
  cursor: pointer;
}
