.signin-form {
  margin: 20px auto;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.signin-form h2 {
  text-align: center;
  margin: 15px;
}

.form-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  font-size: 1.20rem;
}

#signinBtn {
  background-color: #212529;
  width: 150px;
  padding: 8px 2px;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
}

#signinBtn:hover {
  background-color: white;
  color: black;
}

.form-actions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 2px;
  font-size: 1.25rem;
}

.form-inputs input {
  height: 50px;
  border-radius: 10px;
  background-color: white;
  padding-left: 10px;
  border: none
}

.rememberable {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  // padding-left: 15px;
}

.rememberable input {
  margin-right: 5px;
}

.recover-password {
  display: flex;
  justify-content: center;
  align-items: center;
}
