.edit-storage-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-storage-form input.is-valid {
  border-color: #ced4da;
}

.edit-storage-form input.is-valid:focus {
  outline: none !important;
  box-shadow: rgba(11, 94, 215, 0.25) 0px 0px 0px 4px;
}

.edit-storage-form h2 {
  text-align: center;
  text-decoration: underline;
}

.features-select-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 8px;
}

#featureCheckbox label {
  font-weight: normal;
}

.edit-storage-form label {
  font-weight: bold;
}

.edit-storage-form input {
  margin-bottom: 8px;
}

.country-input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.type-input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
