.search-bar-form {
  width: 100%;
}

.search-bar-input {
  width: 75%;
  margin-top: 20px;
  height: 40px;
  padding-left: 5px;
}

.search-bar-btn {
  width: 20%;
  margin-top: 20px;
  height: 40px;
}

.index-search-bar {
  text-align: center;
  width: 100%
}

.storage-card {
  width:90%;
  margin: 25px 5px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.storage-card-top {
  position: relative;
}

.storage-img {
  height: 300px;
  border-radius: 15px;
}

.storage-price {
  color: white;
  background-color: #696666;
  border: 1px solid black;
  border-radius: 25px;
  width: 120px;
  height: 40px;
  position: absolute;
  right: 30px;
  bottom:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25em;
}

#map {
  height: 100vh;
  position: sticky;
  width: 40%;
  top: 0;
}

.index-container {
  width: 100%;
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.index-storages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.storage-title a {
  text-decoration: none;
  color: black;
  font-size: 0.90em;
}
