.index-container {
  width: 100%;
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.search-bar-form {
  width: 100%;
}

.search-bar-input {
  width: 75%;
  margin-top: 20px;
  height: 40px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.search-bar-btn {
  width: 20%;
  margin-top: 20px;
  height: 40px;
  font-size: 1.20em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: none
}

.index-search-bar {
  text-align: center;
  width: 100%
}

.index-storages-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
}

.index-storages-cards a {
  text-decoration: none;
  color: black;
}

.index-storages-cards a:hover {
  text-decoration: none;
  color: black;
}

.index-storage-card {
  width: 300px;
  margin: 25px 5px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.index-storage-card:hover {
  transform: scale(1.02);
}

.index-storage-card-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 25px 25px 0 0;
}

.index-storage-img {
  height: 300px;
  border-radius: 25px 25px 0 0;
  width: 300px;
}

.no-image {
  width: 300px;
}

.index-storage-price {
  color: white;
  background-color: #696666;
  box-shadow: rgba(241, 239, 239, 0.925) 0px 3px 8px;
  border-radius: 25px;
  width: 120px;
  height: 40px;
  position: absolute;
  right: 30px;
  bottom:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.25em;
}

.index-storage-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 150px;
  border-radius: 0 0 25px 25px;
  text-align: left;
  padding-left: 15px;
}

.index-storage-title {
  margin: 0;
  font-size: 1.15em;
}

.index-storage-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.index-storage-type {
  margin: 0;
}

.index-storage-user{
  margin: 0;
}

.index-storage-city{
  margin: 0;
}

#map {
  height: 100vh;
  position: sticky;
  width: 40%;
  top: 0;
}

@media (max-width: 768px) {
  #map {
    display: none;
  }
  .left-container {
    width: 100%;
  }
}

@media (max-width: 1025px) {
  .index-storages-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px auto;
  }
}
