// ----------- SHOW CONTAINER ------------

.show-body {
  display: flex;
}

.show-left {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ----------- DETAILS NAV ------------

.show-top-container {
  // padding: 0 20px;
  padding-left: 20px;
}

.show-tc-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #c9c3c3;
  width: 100%;
  margin-bottom: 10px;
}

.tc-details {
  background-color: white;
  margin: 5px 8px;
  padding: 2px 8px;
  border-radius: 25px;
}

// ------- LIGHTBOX -----------

.lightbox {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.lightbox:after {
  content: "";
  display: table;
  clear: both;
}

.lightbox-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.lightbox-row > div {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

img.lightbox-img {
  transition: 0.3s;
  cursor: pointer;
  width: 350px;
  height: 250px;
  object-fit: cover;

}

.lightbox-img:hover {
  transform: scale(1.05);
}

.img-one {
  border-radius: 25px 0 0 0;
}

.img-two {
  border-radius: 0 25px 0 0;
}

.img-three {
  border-radius: 0 0 0 25px;
}

.img-four {
 border-radius: 0 0 25px 0;
}

// -------- LIGHTBOX MODAL ------------
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  // background-color: #fefefe;
  background-color: #5a5b5c;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  width: 100%;
  height: 60%;
  margin: 0 auto;
  // background-color: #5a5b5c;
}

.mySlides img {
  display: flex;
  justify-self: center;
  width: 800px;
  height: 550px;
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  width: 200px;
  height: 150px;
}

.active,
.demo:hover {
  opacity: 1;
}

.thumbnail-container {
  display: flex;
  justify-content: space-around;
}

.thumbnail-container img {
  object-fit: contain;
}

// ---------- ABOUT CONTAINER ------------

.show-about {
  // background-color: lightblue;
  margin: 25px 0px;
}

.show-details {
  padding: 0 30px;
}

// ----------- EXAMPLE CONTAINER ------------

.show-example {
  // background-color: red;
  margin-bottom: 10px;
}

// ------------ FEATURES CONTAINER ----------

.show-features {
  margin: 25px 0px;
  // background-color: pink;
}

.features-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 5px 60px;
}

.feature-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

// -------- RESERVE CONTAINER ----------

.reserve-container {
  width: 30%
}

.reserve-box {
  position: sticky;
  top: 20px;
}

.service-fee {
  display: flex;
  align-items: center;
}

.service-fee i {
  margin-left: 4px;
  color: #79797c
}

.reserve-btn {
  width: 100%;
  height: 50px;
  background-color: #059862;
  border-radius: 15px;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserve-btn a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.reserve-btn a:hover {
  font-size: 1.6em;
}

.date-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.date-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 100%;
}

.flatpickr-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flatpickr-input {
  width: 70%;
  justify-self: center;
  margin: 5px;
  padding-left: 5px;
}

.input-group {
  display: flex;
  justify-content: center;
}

.input-group-append {
  display: flex;
}

.date-input-container {
  display: flex;
  width: 300px;
}

.input-group-text {
  display: flex;
  height: 30px;
  align-items: center;
  align-self: center;
}

.btn-reservation {
  margin: 10px 0px;
}

.modal-body {
  margin: 0 auto;
}

// ----------- STORAGES NEAR -------------

.storages-near-bottom {
  padding-left: 30px;
  padding-right: 20px;
}

.storages-near-container h1 {
  margin-left: 0;
}

.show-near-you-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.show-storages-near-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom:  25px;
}

.show-storages-near-cards a {
  text-decoration: none;
  color: black;
}

.show-storages-near-cards a:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 1025px) {
  .show-storages-near-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .show-storages-near-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px auto;
  }
}

.show-storage-near-card {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  margin: 0 auto;
}

.show-storage-near-card:hover {
  transform: scale(1.02);
}

.show-storage-near-img {
  width: 250px;
  height: 180px;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.show-storage-near-price {
  background-color: #5a5b5c;
  color: white;
  font-size: 1.25em;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 10px;
}

.show-storage-near-user {
  margin: 0
}

.show-storage-near-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 150px;
  border-radius: 0 0 25px 25px;
  text-align: left;
  padding-left: 15px;
}

.show-storage-near-title {
  margin: 0;
}

.show-storage-near-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.show-storage-near-type {
  margin: 0;
}

.show-see-more-container {
  text-align: center;
}

.show-see-more-btn {
  background-color: #059862;
  width: 400px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
}
