// ----------- SHOW CONTAINER ------------

.show-body {
  display: flex;
}

.show-left {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ----------- DETAILS NAV ------------

.show-details {
  padding: 0 30px;
}
.show-top-container {
  padding: 0 20px;
}

.show-tc-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eb591f;
  margin-bottom: 10px;
}

.tc-details {
  background-color: white;
  margin: 5px 8px;
  padding: 2px 8px;
  border-radius: 25px;
}


// ------- LIGHTBOX -----------

.lightbox {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.lightbox:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 50%;
}

.column.one {
  text-align: right;
}

.column.two {
  text-align: left;
}

.row.one {
  width: 100%;
  margin-top: 15px;
}

.row.two {
  width: 100%;
  margin-top: 15px;
}

.img-one {
  border-radius: 25px 0 0 0;
}

.img-two {
  border-radius: 0 25px 0 0;
}

.img-three {
  border-radius: 0 0 0 25px;
}

.img-four {
 border-radius: 0 0 25px 0;
}

// -------- LIGHTBOX MODAL ------------
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  width: 200px;
  height: 150px;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  cursor: pointer;
  width: 350px;
  height: 250px;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail-container {
  display: flex;
}



// ---------- ABOUT CONTAINER ------------

.show-about {
  background-color: lightblue;
  margin-bottom: 50px;
  margin-top: 50px;
}

.about-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 30px 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.about-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

// ----------- EXAMPLE CONTAINER ------------

.show-example {
  background-color: red;
}


// ------------ FEATURES CONTAINER ----------

.show-features {
  margin-top: 50px;
  background-color: pink;
}

.features-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 5px 60px;
}

.feature-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

// -------- RESERVE CONTAINER ----------

.reserve-container {
  width: 30%
}

.reserve-box {
  position: sticky;
  top: 20px;
}

.service-fee {
  display: flex;
  align-items: center;
}

.service-fee i {
  margin-left: 4px;
  color: #79797c
}

.reserve-btn {
  width: 100%;
  height: 50px;
  background-color: #059862;
  color: white;
  font-size: 1.5em;
  border-radius: 15px;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserve-btn:hover {
  color: black;
}

// ----------- STORAGES NEAR -------------

.storages-near-bottom {
  margin-top: 50px;
  padding: 0 30px;
}

.storages-near-container {
  background-color: #eb591f;
}
