.user-right-container {
  width: 85%;
  padding: 80px;
  overflow: auto;
}

.my-storages-card {
  display: flex;
  margin: 20px 5px;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.my-storages-img {
  border-radius: 25px;
  height: 300px;
}

.my-storages-items {
  margin-left: 10px;
  width: 100%;
}

.my-storages-item {
  display: flex;
  width: 100%;
}

.item-input {
background-color: white;
border: 1px solid rgb(180, 178, 178);
width: 100%;
margin-left: 5px;
// padding-left: 10px;
padding: 0 10px;
border-radius: 25px;
}

.my-storages-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  width: 100%;
}

.my-storages-controls {
  display: flex;
  justify-content: space-around;
  justify-items:center;
  align-items: center;
}

// @media (max-width: 768px) {
//   #map {
//     display: none;
//   }

//   .left-container {
//     width: 100%;
//   }
// }

@media (max-width: 1025px) {
  .my-storages-card {
    display: flex;
    flex-direction: column;
    width: 340px;
  }
  .my-storages-bottom {
    display: flex;
    flex-direction: column;
  }
  .my-storages-img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .my-storages-items {
    width: 300px;
  }
  .item-input {
    padding: 0 10px;
  }
}
